# Virtual environments
venv/
.venv/
env/
Lib/

# IDE-specific files
.idea/
.vscode/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Installed packages
*.dist-info/
site-packages/

# Generated artifacts
model_artifacts.pkl
*.log

# System files
.DS_Store